In [1]:
import pickle
import pandas as pd

In [2]:
model  = pickle.load(open('model_XGBR.pkl', 'rb')) 
scalerX = pickle.load(open('scalerX.pkl', 'rb'))
scalery = pickle.load(open('scalery.pkl', 'rb'))

In [3]:
categ = [1, 0, 0, 0, 0, 0]        
num = [ 1, 0, 0, 0, 2, 130, 50, 5]

In [4]:
df_num=pd.DataFrame(num)        
df_categ=pd.DataFrame(categ)

In [5]:
numscal=pd.DataFrame(scalerX.transform(df_num.values.reshape(1, -1)))
numscal

          0    1    2    3        4         5         6             7
0  0.001199  0.0  0.0  0.0  0.01087  0.046796  0.000297  4.635584e-07

In [7]:
ENTRE=pd.concat([df_categ.T,numscal],axis=1)
ENTRE

,0,1,2,3,4,5,0,1,2,3,4,5,6,7
0,1,0,0,0,0,0,0.001199,0.0,0.0,0.0,0.01087,0.046796,0.000297,4.635584e-07

In [10]:
prediction = model.predict(ENTRE)   
prediction[0]

0.001118037

In [20]:
output = abs(scalery.inverse_transform(prediction.reshape(-1, 1)))[0][0]
output

468457.53